*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
    background-color: lightgreen;
}

.wrapper {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: darkslategray(206, 17%, 28%);
}

.card {
    background-color: antiquewhite(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: grey(206, 17%, 28%);
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
 }

 .card-header {
    content: " ";
    display: block;
    width: 100%;
    background: white;
    height: 2px;
 }

 